flows.json
[
    {
        "id": "1502f21895a467b2",
        "type": "subflow",
        "name": "wmi",
        "info": "This node retrieves the information of the WMI object on Windows OS.\r\nCurrently, this node supports the following objects in the pull-down menu on the node property UI.\r\n\r\n- [Processor](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-processor)\r\n- [BIOS](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-bios)\r\n- [LogicalDisk](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-logicaldisk)\r\n- [PointingDevice](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-pointingdevice)\r\n- [Keyboard](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-keyboard)\r\n- [Battery](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-battery)\r\n- [OperatingSystem](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-operatingsystem)\r\n- [ComputerSystem](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-computersystem)\r\n- [SystemEnclosure](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-systemenclosure)\r\n- [Desktop](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-desktop)\r\n- [DesktopMonitor](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-desktopmonitor)\r\n- [UserAccount](https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-useraccount)\r\n\r\nIf you want to get other WMI objects, you can specify the object name in `msg.object`.\r\n\r\n### Inputs\r\n- `object` - _string_\r\n\r\n  WMI object name (optional)\r\n\r\n### Outputs\r\n- `payload` - _object_\r\n\r\n  WMI object in JSON format\r\n\r\n**Note**: This node can be used on the Windows OS only.",
        "category": "function",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "19c7f3ec50e21366"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1380,
                "y": 220,
                "wires": [
                    {
                        "id": "577b676db8dff1da",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "object",
                "type": "str",
                "value": "Win32_Processor",
                "ui": {
                    "icon": "font-awesome/fa-desktop",
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Processor"
                                },
                                "v": "Win32_Processor"
                            },
                            {
                                "l": {
                                    "en-US": "BIOS"
                                },
                                "v": "Win32_BIOS"
                            },
                            {
                                "l": {
                                    "en-US": "LogicalDisk"
                                },
                                "v": "Win32_LogicalDisk"
                            },
                            {
                                "l": {
                                    "en-US": "PointingDevice"
                                },
                                "v": "Win32_PointingDevice"
                            },
                            {
                                "l": {
                                    "en-US": "Keyboard"
                                },
                                "v": "Win32_Keyboard"
                            },
                            {
                                "l": {
                                    "en-US": "Battery"
                                },
                                "v": "Win32_Battery"
                            },
                            {
                                "l": {
                                    "en-US": "OperatingSystem"
                                },
                                "v": "Win32_OperatingSystem"
                            },
                            {
                                "l": {
                                    "en-US": "ComputerSystem"
                                },
                                "v": "Win32_ComputerSystem"
                            },
                            {
                                "l": {
                                    "en-US": "SystemEnclosure"
                                },
                                "v": "Win32_SystemEnclosure"
                            },
                            {
                                "l": {
                                    "en-US": "Desktop"
                                },
                                "v": "Win32_Desktop"
                            },
                            {
                                "l": {
                                    "en-US": "DesktopMonitor"
                                },
                                "v": "Win32_DesktopMonitor"
                            },
                            {
                                "l": {
                                    "en-US": "UserAccount"
                                },
                                "v": "Win32_UserAccount"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "node-red-contrib-wmi",
            "type": "wmi",
            "version": "0.2.7",
            "author": "kazuhitoyokoi@nodered.jp",
            "desc": "A node to retrieve WMI (Windows Management Instrumentation) object on Windows OS",
            "keywords": "node-red,wmi,windows",
            "license": "Apache-2.0"
        },
        "color": "#E9967A",
        "icon": "font-awesome/fa-desktop",
        "status": {
            "x": 1240,
            "y": 340,
            "wires": [
                {
                    "id": "1441a297ee2d57e2",
                    "port": 0
                },
                {
                    "id": "d7b32c02dafd1b17",
                    "port": 1
                },
                {
                    "id": "bfd09feeb01f0137",
                    "port": 1
                },
                {
                    "id": "5a1ea7b0f694b333",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "d7b32c02dafd1b17",
        "type": "exec",
        "z": "1502f21895a467b2",
        "command": "cmd /c powershell",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "577b676db8dff1da"
            ],
            [],
            []
        ]
    },
    {
        "id": "577b676db8dff1da",
        "type": "json",
        "z": "1502f21895a467b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e8c81d56ecdf5c1c",
        "type": "change",
        "z": "1502f21895a467b2",
        "name": "create command using msg.object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'\"Get-WmiObject '&object&'|ConvertTo-Json\"'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "d7b32c02dafd1b17"
            ]
        ]
    },
    {
        "id": "1441a297ee2d57e2",
        "type": "status",
        "z": "1502f21895a467b2",
        "name": "",
        "scope": [
            "d7b32c02dafd1b17",
            "bfd09feeb01f0137",
            "5a1ea7b0f694b333"
        ],
        "x": 1080,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "49bc3c94198cb47a",
        "type": "switch",
        "z": "1502f21895a467b2",
        "name": "msg.object is specified?",
        "property": "object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "regex",
                "v": "^Win32_",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "c04f60819b88fbcb"
            ],
            [
                "e8c81d56ecdf5c1c"
            ],
            [
                "4588320aad394599"
            ]
        ]
    },
    {
        "id": "c04f60819b88fbcb",
        "type": "change",
        "z": "1502f21895a467b2",
        "name": "create command using environment variable",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'\"Get-WmiObject '&$env('object')&'|ConvertTo-Json\"'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 60,
        "wires": [
            [
                "d7b32c02dafd1b17"
            ]
        ]
    },
    {
        "id": "4588320aad394599",
        "type": "change",
        "z": "1502f21895a467b2",
        "name": "create command using msg.object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'\"Get-WmiObject Win32_'&object&'|ConvertTo-Json\"'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "d7b32c02dafd1b17"
            ]
        ]
    },
    {
        "id": "5a1ea7b0f694b333",
        "type": "exec",
        "z": "1502f21895a467b2",
        "command": "ioreg -c AppleSmartBattery | grep -E '^.+\"Voltage\" = [0-9]+$' | sed -r 's/^.+\"Voltage\" = ([0-9]+)$/{\"DesignVoltage\":\\1}/' ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get voltage",
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "577b676db8dff1da"
            ],
            [],
            []
        ]
    },
    {
        "id": "bfd09feeb01f0137",
        "type": "exec",
        "z": "1502f21895a467b2",
        "command": "top -l 2 | grep -E \"^CPU\" | tail -1 | awk '{print \"{\\\"LoadPercentage\\\":\"$3+$5\"}\"}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get cpu usage",
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "577b676db8dff1da"
            ],
            [],
            []
        ]
    },
    {
        "id": "19c7f3ec50e21366",
        "type": "function",
        "z": "1502f21895a467b2",
        "name": "Windows or macOS?",
        "func": "if (process.platform === 'win32') {\n    return [msg, null];\n} else if (process.platform === 'darwin') {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "process",
                "module": "process"
            }
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "49bc3c94198cb47a"
            ],
            [
                "b30a3d4cda2b1c53"
            ]
        ]
    },
    {
        "id": "b30a3d4cda2b1c53",
        "type": "switch",
        "z": "1502f21895a467b2",
        "name": "Processor or Battery?",
        "property": "object",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "Win32_Processor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Win32_Battery",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "bfd09feeb01f0137"
            ],
            [
                "5a1ea7b0f694b333"
            ]
        ]
    },
    {
        "id": "8691cfc88b3b60e5",
        "type": "subflow:1502f21895a467b2",
        "z": "4bc54fc94dad9b87",
        "name": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "d6567781a69e798f"
            ]
        ]
    }
]
