examples/get_processor_name.json
[
    {
        "id": "43fb0d41c9f893f5",
        "type": "inject",
        "z": "7089087274cfd256",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "5e68caaa2a110ed4"
            ]
        ]
    },
    {
        "id": "4df1b14315bf2f22",
        "type": "debug",
        "z": "7089087274cfd256",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e68caaa2a110ed4",
        "type": "wmi",
        "z": "7089087274cfd256",
        "name": "",
        "object": "Win32_Processor",
        "credentials": {},
        "x": 310,
        "y": 120,
        "wires": [
            [
                "4df1b14315bf2f22"
            ]
        ]
    }
]