examples/PC使用状況ダッシュボード.json
[
    {
        "id": "6a7e8ea50b4df169",
        "type": "inject",
        "z": "3b12f6d34c03817d",
        "name": "10秒毎に定期実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "b6c7d47e49d7840f"
            ]
        ]
    },
    {
        "id": "b6c7d47e49d7840f",
        "type": "wmi",
        "z": "3b12f6d34c03817d",
        "name": "CPU情報取得",
        "object": "Win32_Processor",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "4e970b5e744ee533"
            ]
        ]
    },
    {
        "id": "4e970b5e744ee533",
        "type": "change",
        "z": "3b12f6d34c03817d",
        "name": "CPU使用率を代入",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LoadPercentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "0c431122706b75ad"
            ]
        ]
    },
    {
        "id": "0c431122706b75ad",
        "type": "ui_gauge",
        "z": "3b12f6d34c03817d",
        "name": "",
        "group": "6240b30c4cd402bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "CPU使用率",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "6240b30c4cd402bb",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "c3edd3cc708e929d",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3edd3cc708e929d",
        "type": "ui_tab",
        "name": "PC使用状況ダッシュボード",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
