examples/PC使用状況ダッシュボード.json
[
    {
        "id": "6a7e8ea50b4df169",
        "type": "inject",
        "z": "8970fec104d97bc8",
        "name": "10秒毎に定期実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "b6c7d47e49d7840f"
            ]
        ]
    },
    {
        "id": "b6c7d47e49d7840f",
        "type": "wmi",
        "z": "8970fec104d97bc8",
        "name": "CPU情報取得",
        "object": "Win32_Processor",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "4e970b5e744ee533"
            ]
        ]
    },
    {
        "id": "4e970b5e744ee533",
        "type": "change",
        "z": "8970fec104d97bc8",
        "name": "CPU使用率を代入",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LoadPercentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "e5ce23dd709b4474"
            ]
        ]
    },
    {
        "id": "e5ce23dd709b4474",
        "type": "ui-gauge",
        "z": "8970fec104d97bc8",
        "name": "",
        "group": "01594ffdec8496b7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "CPU使用率",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "01594ffdec8496b7",
        "type": "ui-group",
        "name": "グループ名",
        "page": "a5956a4dbba1eb67",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a5956a4dbba1eb67",
        "type": "ui-page",
        "name": "PC使用状況ダッシュボード",
        "ui": "9415734ed0a669c3",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "e3e6305555cda9a6",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9415734ed0a669c3",
        "type": "ui-base",
        "name": "画面名",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "e3e6305555cda9a6",
        "type": "ui-theme",
        "name": "テーマ名",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]