examples/電力可視化ダッシュボード.json
[
    {
        "id": "e663831c7b733b97",
        "type": "inject",
        "z": "8970fec104d97bc8",
        "name": "10秒毎に定期実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "4610d6fbbd9a31f8"
            ]
        ]
    },
    {
        "id": "4610d6fbbd9a31f8",
        "type": "wmi",
        "z": "8970fec104d97bc8",
        "name": "バッテリ情報取得",
        "object": "Win32_Battery",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1dc240c073a42a74"
            ]
        ]
    },
    {
        "id": "1dc240c073a42a74",
        "type": "change",
        "z": "8970fec104d97bc8",
        "name": "電圧値を代入",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DesignVoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "2446096e9e339631"
            ]
        ]
    },
    {
        "id": "2446096e9e339631",
        "type": "ui-chart",
        "z": "8970fec104d97bc8",
        "group": "01594ffdec8496b7",
        "name": "",
        "label": "電圧 (mV)",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": 6,
        "height": 8,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "01594ffdec8496b7",
        "type": "ui-group",
        "name": "グループ名",
        "page": "a5956a4dbba1eb67",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a5956a4dbba1eb67",
        "type": "ui-page",
        "name": "電力可視化ダッシュボード",
        "ui": "9415734ed0a669c3",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "e3e6305555cda9a6",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9415734ed0a669c3",
        "type": "ui-base",
        "name": "画面名",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "e3e6305555cda9a6",
        "type": "ui-theme",
        "name": "テーマ名",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]